@font-face {
    font-family: "wenger";
    src: url("flexob.ttf");
}
body {
    background-size: cover;
    background-color: #C31B37;
    font-family: "wenger";
    font-size: 14pt;
}
p, a, b, i, label {
    font-family: "wenger";
    font-size: 14pt;
    color: #FFFFFF;
}
input, select {
    font-family: "wenger";
    font-size: 14pt;
    color: #000000;
    border-radius: 5px;
}
h1 {
    font-family: "wenger";
    font-size: 24pt;
    color: #FFFFFF;
}